<h3>Criar conta</h3>
<div class="card">
  <div class="card-body">
    <form action="/usuarios/registro/add" method="post">
      <label for="">Nome</label>
      <input type="text" name="nome" id="" class="form-control" required>
      <label for="">Email</label>
      <input type="text" name="email" id="" class="form-control" required>
      <label for="">Senha</label>
      <input type="password" name="senha" id="" class="form-control" required>
      <button type="submit" class="btn btn-success mt-2">Criar Usuario</button>
    </form>
  </div>
</div>